openapi: 3.1.0
info:
  title: LINE Messaging Channel API
  description: 'Partial OpenAPI 3.1 representation of the LINE Messaging API. LINE provides

    public APIs for chatbots and Official Accounts. Authentication uses Bearer

    channel access tokens issued per LINE channel. The authoritative OpenAPI

    documents are maintained by LINE at

    https://github.com/line/line-openapi (messaging-api.yml, webhook.yml,

    channel-access-token.yml, liff.yml, insight.yml, manage-audience.yml,

    shop.yml).

    '
  version: 1.0.0
  contact:
    name: LINE Developers
    url: https://developers.line.biz/en/reference/messaging-api/
servers:
- url: https://api.line.me/v2/bot
  description: LINE Messaging API host.
- url: https://api-data.line.me/v2/bot
  description: LINE Messaging Data API host (binary content fetch).
security:
- ChannelAccessToken: []
tags:
- name: Channel
paths:
  /channel/webhook/endpoint:
    get:
      summary: Get webhook endpoint information
      description: Returns the webhook endpoint URL configured for the channel.
      operationId: getWebhookEndpoint
      responses:
        '200':
          description: Webhook endpoint information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type: string
                    format: uri
                  active:
                    type: boolean
      tags:
      - Channel
    put:
      summary: Set webhook endpoint URL
      operationId: setWebhookEndpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - endpoint
              properties:
                endpoint:
                  type: string
                  format: uri
      responses:
        '200':
          description: Endpoint updated.
      tags:
      - Channel
components:
  securitySchemes:
    ChannelAccessToken:
      type: http
      scheme: bearer
      bearerFormat: ChannelAccessToken
      description: LINE channel access token passed as a Bearer token in the Authorization header.
