openapi: 3.2.0
info:
  title: LINE Messaging Manage Audience Blob API
  version: 0.0.1
  description: This document describes LINE Messaging API.
servers:
- url: https://api.line.me
security:
- Bearer: []
tags:
- name: manage-audience-blob
paths:
  /v2/bot/audienceGroup/upload/byFile:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#create-upload-audience-group-by-file
      servers:
      - url: https://api-data.line.me
      tags:
      - manage-audience-blob
      operationId: createAudienceForUploadingUserIds
      description: Create audience for uploading user IDs (by file).
      requestBody:
        content:
          multipart/form-data:
            schema:
              description: Request for createAudienceForUploadingUserIds
              type: object
              required:
              - file
              properties:
                description:
                  type: string
                  maxLength: 120
                  description: 'The audience''s name. This is case-insensitive, meaning AUDIENCE and audience are considered identical.

                    Max character limit: 120

                    '
                isIfaAudience:
                  type: boolean
                  description: 'To specify recipients by IFAs: set `true`.

                    To specify recipients by user IDs: set `false` or omit isIfaAudience property.

                    '
                uploadDescription:
                  type: string
                  description: 'The description to register for the job (in `jobs[].description`).

                    '
                file:
                  type: string
                  format: binary
                  description: 'A text file with one user ID or IFA entered per line. Specify text/plain as Content-Type. Max file number: 1

                    Max number: 1,500,000

                    '
            encoding:
              file:
                contentType: text/plain
        required: true
      responses:
        '202':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAudienceGroupResponse'
              example:
                audienceGroupId: 1234567890123
                createRoute: MESSAGING_API
                type: UPLOAD
                description: audienceGroupName_01
                created: 1613700237
                permission: READ_WRITE
                expireTimestamp: 1629252237
                isIfaAudience: false
    put:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#update-upload-audience-group-by-file
      servers:
      - url: https://api-data.line.me
      tags:
      - manage-audience-blob
      operationId: addUserIdsToAudience
      description: Add user IDs or Identifiers for Advertisers (IFAs) to an audience for uploading user IDs (by file).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              description: Request of the addUserIdsToAudience
              type: object
              required:
              - file
              properties:
                audienceGroupId:
                  type: integer
                  format: int64
                  description: The audience ID.
                uploadDescription:
                  type: string
                  description: The description to register with the job
                file:
                  type: string
                  format: binary
                  description: 'A text file with one user ID or IFA entered per line. Specify text/plain as Content-Type. Max file number: 1

                    Max number: 1,500,000

                    '
            encoding:
              file:
                contentType: text/plain
      responses:
        '202':
          description: OK
components:
  schemas:
    CreateAudienceGroupResponse:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#create-upload-audience-group
      type: object
      description: Create audience for uploading user IDs (by JSON)
      properties:
        audienceGroupId:
          type: integer
          format: int64
          description: The audience ID.
        createRoute:
          type: string
          enum:
          - MESSAGING_API
          description: 'How the audience was created.


            `MESSAGING_API`: An audience created with Messaging API.

            '
        type:
          $ref: '#/components/schemas/AudienceGroupType'
        description:
          type: string
          description: The audience's name.
        created:
          type: integer
          format: int64
          description: When the audience was created (in UNIX time).
        permission:
          type: string
          enum:
          - READ
          - READ_WRITE
          description: 'Audience''s update permission. Audiences linked to the same channel will be READ_WRITE.


            `READ`: Can use only.

            `READ_WRITE`: Can use and update.

            '
        expireTimestamp:
          type: integer
          format: int64
          description: 'Time of audience expiration. Only returned for specific audiences.

            '
        isIfaAudience:
          type: boolean
          description: 'The value indicating the type of account to be sent, as specified when creating the audience for uploading user IDs. One of:


            `true`: Accounts are specified with IFAs.

            `false` (default): Accounts are specified with user IDs.

            '
    AudienceGroupType:
      description: Audience group type
      type: string
      enum:
      - UPLOAD
      - CLICK
      - IMP
      - CHAT_TAG
      - FRIEND_PATH
      - RESERVATION
      - APP_EVENT
      - VIDEO_VIEW
      - WEBTRAFFIC
      - IMAGE_CLICK
      - RICHMENU_IMP
      - RICHMENU_CLICK
      - POP_AD_IMP
      - TRACKINGTAG_WEBTRAFFIC
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: Channel access token
