openapi: 3.1.0
info:
  title: LINE Messaging Channel Profile API
  description: 'Partial OpenAPI 3.1 representation of the LINE Messaging API. LINE provides

    public APIs for chatbots and Official Accounts. Authentication uses Bearer

    channel access tokens issued per LINE channel. The authoritative OpenAPI

    documents are maintained by LINE at

    https://github.com/line/line-openapi (messaging-api.yml, webhook.yml,

    channel-access-token.yml, liff.yml, insight.yml, manage-audience.yml,

    shop.yml).

    '
  version: 1.0.0
  contact:
    name: LINE Developers
    url: https://developers.line.biz/en/reference/messaging-api/
servers:
- url: https://api.line.me/v2/bot
  description: LINE Messaging API host.
- url: https://api-data.line.me/v2/bot
  description: LINE Messaging Data API host (binary content fetch).
security:
- ChannelAccessToken: []
tags:
- name: Profile
paths:
  /profile/{userId}:
    get:
      summary: Get user profile
      description: Returns the profile information of a user who has added the LINE Official Account as a friend.
      operationId: getUserProfile
      parameters:
      - name: userId
        in: path
        required: true
        description: User ID returned in a webhook event source.
        schema:
          type: string
      responses:
        '200':
          description: User profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '404':
          description: User not found.
      tags:
      - Profile
components:
  schemas:
    UserProfile:
      type: object
      properties:
        userId:
          type: string
        displayName:
          type: string
        pictureUrl:
          type: string
          format: uri
        statusMessage:
          type: string
        language:
          type: string
  securitySchemes:
    ChannelAccessToken:
      type: http
      scheme: bearer
      bearerFormat: ChannelAccessToken
      description: LINE channel access token passed as a Bearer token in the Authorization header.
